
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 14% 13%;
    --foreground: 0 0% 98%;
    --card: 213 14% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 213 14% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 219 100% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 14% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 213 14% 20%;
    --muted-foreground: 213 14% 70%;
    --accent: 266 100% 69%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 14% 25%;
    --input: 213 14% 25%;
    --ring: 219 100% 59%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.code-editor-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.code-editor-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.code-editor-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 4px;
}
.code-editor-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--muted-foreground));
}
